#testo {
  background: rgb(65,128,124);
  background: linear-gradient(0deg, rgba(65,128,124,1) 0%, rgba(217,217,217,1) 63%); /* sfondo con sfumatura ottenuto da sito web */
  padding-left: 100px;
  padding-right: 100px;
  height: 100%;
  padding-bottom: 40px;
}

.titolo {
  font-family: Roboto;
  font-size: 100px;
  padding-top: 20px;
}

.sottotitolo {
  margin-top: -5px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bolder;
}

p {
  text-align: justify;
  font-size: 17px;
  font-family: sans-serif;
  margin-bottom: 30px;
}

#colonne {
  margin-top: 50px;
  column-count: 2;
  column-gap: 50px;
  word-spacing: 2px;
  line-height: 28px;
}
